.bm{ border:3px solid rgb(23, 15, 133);
width: 200px;
text-align:justify;
background-color: blanchedalmond;
}
body {
     background-color:khaki
}
.lul{
     width: 240px;
     width: 30%;
}
h1{
     color:cadetblue
}